<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.18">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.48">
    <script>node {
    stage &apos;DEV&apos;
   echo &apos;Hello World 1&apos;
    stage &apos;QA&apos;
   echo &apos;Hello World 2&apos;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>